body,
.ant-layout {
  background-color: #f4fdff !important;
  height: 100vh;
}

.ant-layout-footer {
  background-color: #f4fdff !important;
}

.ant-menu-item:active,
.ant-menu-submenu-title:active,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #ffffff !important;
}

.ant-layout-sider {
  background-color: #fff !important;
}
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: unset !important;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.ant-tooltip-inner {

  color: #000 !important;

  background-color: rgb(255 255 255 / 75%) !important;
  border-radius: 8px !important;

}

.ant-tooltip-inner .nav-text{
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.ant-tooltip-arrow-content{
  background-color: #fff !important;
}